.btn_orange {
  background: linear-gradient(#ffb469, #e57709);
  transition: all 0.3s ease;
  cursor: pointer;
  filter: drop-shadow(8px 0 16px #e5770935);
}
.btn_orange:hover {
  background: linear-gradient(#fdb165, #db7005);
}
.text_header {
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}
.btn_next {
  background: linear-gradient(#ffb469, #e57709);
  transition: all 0.3s ease;
  cursor: pointer;
}
.btn_next:hover {
  background: linear-gradient(#ffae5d, #ff850b);
}
.background_gradient {
  background-color: white;
}
.background_gradient:hover {
  background: linear-gradient(#50c577, #2dbefc);
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
#menu-toggle:checked + label .fa-bars {
  display: none;
}
#menu-toggle:checked + label .fa-xmark {
  display: block;
}
#menu-toggle:not(:checked) + label .fa-bars {
  display: block;
}
#menu-toggle:not(:checked) + label .fa-xmark {
  display: none;
}
